.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  border: 2px solid;
  border-collapse: collapse;
  width:45%;
}

th {
  font-size: 5vh;
}

th,
td {
  height: 10vh;
  width: 50vh;
  border: solid;
  border-width: 1px 0;
  overflow: hidden;
}

table[id="TodaysBirthdays"] {
  position: absolute;
  top: 15%;
  left: 47%;
  width:50%;
}

table[id="UpcomingBirthdays"] {
  position: absolute;
  top: 60%;
  left: 47%;
  width:50%;
}

button[name="addBirthdayButton"] {
  position: absolute;
  top: 5%;
  left: 49%;
  width: 20%;
  height: 7vh;
  font-size: 3vh;
  background-color: #04AA6D;
  padding: 10px 10px;
}

input[name*="search"]{
  position: absolute;
  top: 5%;
  left: 71%;
  width: 10%;
  height: 4.1vh;
  font-size: 3vh;
  padding: 10px 10px;
}

button[name*="submitSearch"] {
  position: absolute;
  top: 5%;
  left: 81%;
  width: 8%;
  height: 7.4vh;
  font-size: 2vh;
}

 button[name*="showAll"] {
   position: absolute;
   top: 5%;
   left: 89%;
   width: 8%;
   height: 7.4vh;
   font-size: 2vh;

 }

button[name="removeBirthday"] {
  background: #F44336;
  color: black
}

div[name*="data"] {
  display: none;
}
